{*FORM-HEADER*}

<style>

</style>
<link media="print" rel="stylesheet" href="css/bulkprint.css" type="text/css">
<div id="row1">
<h1><div id="staff-title">{*page_title*}</div><div style="clear:both;"></div></h1>
<div class="container">
<fieldset id="staffDetails" class="staffDetails-left"> <legend>Staff Details:</legend>
<div class="label">account_id :</div>
				<div class="value">{*account_id*}{*err_account_id*}</div><br class="clear"/><div class="label">account_name :</div>
				<div class="value">{*account_name*}{*err_account_name*}</div><br class="clear"/><div class="label">account_cost :</div>
				<div class="value">{*account_cost*}{*err_account_cost*}</div><br class="clear"/><div class="label">account_advertising_numbers :</div>
				<div class="value">{*account_advertising_numbers*}{*err_account_advertising_numbers*}</div><br class="clear"/><div class="label">create_date :</div>
				<div class="value">{*create_date*}{*err_create_date*}</div><br class="clear"/><div class="label">modify_date :</div>
				<div class="value">{*modify_date*}{*err_modify_date*}</div><br class="clear"/><div class="label">delete_date :</div>
				<div class="value">{*delete_date*}{*err_delete_date*}</div><br class="clear"/>
</fieldset>
</div>
{*COMMENTS*}
{*pageinfo*}<br class="clear" />
<br class="clear"/>

<div class="noprint">{*FUNCTION*}</div>
{*FORM-FOOTER*}
</div>
{*pbreak*}{*pbreakend*}
