{*FORM-HEADER*}

<style>

</style>
<link media="print" rel="stylesheet" href="css/bulkprint.css" type="text/css">
<div id="row1">
<h1><div id="staff-title">{*page_title*}</div><div style="clear:both;"></div></h1>
<div class="container">
<fieldset id="staffDetails" class="staffDetails-left"> <legend>Staff Details:</legend>
<div class="label">database_id :</div>
				<div class="value">{*database_id*}{*err_database_id*}</div><br class="clear"/><div class="label">database_host :</div>
				<div class="value">{*database_host*}{*err_database_host*}</div><br class="clear"/><div class="label">database_port :</div>
				<div class="value">{*database_port*}{*err_database_port*}</div><br class="clear"/><div class="label">database_os :</div>
				<div class="value">{*database_os*}{*err_database_os*}</div><br class="clear"/><div class="label">database_os_version :</div>
				<div class="value">{*database_os_version*}{*err_database_os_version*}</div><br class="clear"/><div class="label">database_types :</div>
				<div class="value">{*database_types*}{*err_database_types*}</div><br class="clear"/><div class="label">database_version :</div>
				<div class="value">{*database_version*}{*err_database_version*}</div><br class="clear"/><div class="label">database_inservice :</div>
				<div class="value">{*database_inservice*}{*err_database_inservice*}</div><br class="clear"/><div class="label">create_date :</div>
				<div class="value">{*create_date*}{*err_create_date*}</div><br class="clear"/><div class="label">modify_date :</div>
				<div class="value">{*modify_date*}{*err_modify_date*}</div><br class="clear"/><div class="label">delete_date :</div>
				<div class="value">{*delete_date*}{*err_delete_date*}</div><br class="clear"/>
</fieldset>
</div>
{*COMMENTS*}
{*pageinfo*}<br class="clear" />
<br class="clear"/>

<div class="noprint">{*FUNCTION*}</div>
{*FORM-FOOTER*}
</div>
{*pbreak*}{*pbreakend*}
