
	<h1><div id="staff-title">{*page_title*}</div><div style="clear:both;"></div></h1>
			<div  class="tab">
			<div id="tab-header">
				<h1>User Details</h1>
			</div>
			<div id="tab-text">
				Information on a selected user 
			</div>
			<div id="tab-body">
				<div class="label">User Name :</div><div class="value">{*user_name*}{*err_user_name*}</div><br class="clear"/>
				<div class="label">Business Name :</div><div class="value">{*business_name*}{*err_business_name*}</div><br class="clear"/>
				
				<div class="label">Admin ID :</div><div class="value">{*user_id*}{*err_user_id*}</div><br class="clear"/>
	            <div class="label">User Name :</div><div class="value">{*username*}{*err_username*}</div><br class="clear"/>
	            <div class="label">Password :</div><div class="value">{*password*}{*err_password*}</div><br class="clear"/>
	            <div class="label">Name :</div><div class="value">{*name*}{*err_name*}</div><br class="clear"/> 
	            <div class="label">Email :</div><div class="value">{*email*}{*err_email*}</div><br class="clear"/> 
	            <div class="label">Access Level :</div><div class="value">{*level*}{*err_level*}</div><br class="clear"/> 
	            <div class="label">Create Date :</div><div class="value">{*create_date*}{*err_create_date*}</div><br class="clear"/> 
	            <div class="label">Create By :</div><div class="value">{*created_by*}{*err_created_by*}</div><br class="clear"/> 
	            <div class="label">Modified Date :</div><div class="value">{*modified_date*}{*err_modified_date*}</div><br class="clear"/>
	            <div class="label">Modified By :</div><div class="value">{*modified_by*}{*err_modified_by*}</div><br class="clear"/>
	            <div class="label">Delete Date :</div><div class="value">{*delete_date*}{*err_delete_date*}</div><br class="clear"/>
	            <div class="label">Deleted By :</div><div class="value">{*deleted_by*}{*err_deleted_by*}</div><br class="clear"/>
	            <div class="label">Active :</div><div class="value">{*active*}{*err_active*}</div><br class="clear"/>
	            <div class="label">Last Login :</div><div class="value">{*last_login*}{*err_last_login*}</div><br class="clear"/>
				
				<div class="noprint">{*FUNCTION*}</div>
				<br class="clear"/>
			</div>
			<div id="tab-foot"></div>
			</div>
			<div  class="tab">
			<div id="tab-header">
				<h1>Account Details</h1>
			</div>
			<div id="tab-text">
				Information about the element, create, Modify and delete dates 
			</div>
			<div id="tab-body">
				<div style="width:120px">Created on : </div>{*create_date*}<br />
				<div style="width:120px">Modified on :</div>{*modify_date*}<br />
				<div style="width:120px">Deleted on :</div>{*delete_date*}<br />
				<br class="clear"/>
			</div>
			<div id="tab-foot"></div>
		
		</div>
